@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Bitter|Numans|Questrial|Sanchez');
@font-face {
	font-family: FARRAY;
	src: local("FARRAY"), url(../fonts/FARRAY.otf);
}

.container-fluid {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #f2f2f2;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: "Numans";
	font-weight: 300;
	font-size: 16px;
	color: #555;
	margin-top: 70px;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.centered {
	text-align: center;
}

.nav-header {
	margin-top: 5px; 
}

.nav-header span {
	color: #ffffff;
	font-size: 16px;
	font-family: "FARRAY";
}

a:hover, a:focus {
	text-decoration: none;
	outline: 0;
}

.navbar {
	font-weight: 400;
	font-size: 14px;
}

.navbar-inverse {
	background: #283a49;
	border-color: #283a49;
}

.navbar-inverse .navbar-nav > li {
	padding-top: 2px;
}

.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #1cc09f;
}

.navbar-inverse .navbar-nav > li > a:focus {
	background-color: #1cc09f;
}

.navbar-inverse .navbar-nav > li > a > span {
	font-family: "Numans";
	font-weight: 300;
	font-size: 14px;
	color: #ffffff;
	padding-left: 5px;
}

.navbar-inverse .navbar-nav > li > a > i {
	color: #ffffff;
}

.content {
	height: 2000px;
}












@media screen and (max-width: 767px) { 
	.nav-header {
		margin-left: 15px;
	}
}

@media (max-width: 1214px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media screen and (max-width: 1280px) { 
	div.contentblock {
		width: 1200px;
	} 
}
@media screen and (max-width: 1140px) { 
	div.contentblock {
		width: 1024px;
	} 
}
@media screen and (max-width: 992px) { 
	div. contentblock {
		width: 970px;
	} 
}